<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="/css/error.css" />
  </head>
  <body>
    <div class="container">
      <a href="/"><button>❌</button></a>
      <div class="error-box">
        <div class="error-text"><%= status %></div>
        <p><%= message %></p>
        <a href="/home" class="home-button">Go to Homepage</a>
      </div>
    </div>
  </body>
</html>
