<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset-password</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
    <form action="/profile/reset-password/reset?resettoken=<%=resettoken%>" method="post">
        <h1 style="color: #00bfff;"><%= message %></h1>
        <label for="email">New password</label>
        <input type="text" name="newPassword" placeholder="enter new password" id="new-password" required>
        <button type="submit">Submit</button>
        <% if (register_link && typeof text_link !== "undefined") { %>
            <a href="<%= register_link %>"><%= text_link %></a>
          <% } %>
          
    </form>
</body>
</html>